div {
  background: #6F3596; }

.some-class {
  position: relative;
  color: #CC594A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.some-other-class {
  display: block; }
