$red: #cc594a;
$yellow: #b8cc24;
$blue: #8bc5ff;
$purple: #6f3596;

// body     {
//   background: $red;
//   color: $yellow;
// }
//
// button     {
//   background: $blue;
// }
//
div {
  color: $yellow;
  background: $purple;
}

.some-class {
  display: flex;
  align-items: center;
}
